*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.deb

*.com
*.class
*.dll
*.exe
*.o
*.so

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Stocks_XCode/
Music_Xcode/
MobileTimer_XCode/
Camera_XCode/
curago/log.txt

obj/
_/
curago/.theos/last_package
curago/.theos/fakeroot
curago/.theos/last_package
curago/.theos/last_package
curago/.theos/packages/com.iosblocks.curago-0.2.3-0
