Package: com.apple.camera
Name: camera
Version: 1.0-1
Description: 
Section: Addons (Curago)
Depends: firmware (>= 7.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Pigi Galdi
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

