Package: com.iosblocks.curago
Name: iOS Blocks
Version: 0.2.5-1
Description: An integrated widget system, built for perfomance, and the reaction from people when they see it and be like "that's awesome bro, ETA???!!!!". And we reply, "Ayyyy lmao, nope", and they say "Fuck man, y u so cruel? Can i beta test?". And we reply, "Nah bro", and they say "But I'll pay?!!". And we don't reply, because ain't nobody got time fo' that.
Section: System
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Creatix & iOS Blocks Team
dev: 
Homepage: https://iosblocks.com
Depiction: https://packix.ioscreatix.com/package/com.iosblocks.curago
Maintainer: iOS Creatix
Icon: file:///Library/PreferenceBundles/curago.bundle/curagoIcon@3x.png
